
@font-face {
    font-family: "Kuro-Regular";
    src: url('webFonts/KuroRegular/font.woff2') format('woff2'), url('webFonts/KuroRegular/font.woff') format('woff');
  }
  @font-face {
    font-family: "Ghibli";
    src: url('webFonts/Ghibli/font.woff2') format('woff2'), url('webFonts/Ghibli/font.woff') format('woff');
  }
  @font-face {
    font-family: "Ghibli-Bold";
    src: url('webFonts/GhibliBold/font.woff2') format('woff2'), url('webFonts/GhibliBold/font.woff') format('woff');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Ghibli";
    color: #ffb3ff;
    background-color: #B7FFF1;
  }
  
  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    padding: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem;
  }
  
  h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    padding: 3rem;
  }


  .Banner {
    text-align: center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30vh;
  }
  
  .Reunited {
    text-align: center;
    color: #857453;
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
    justify-content:center
  
  }
  
  .countdown {
 
    color: #857453;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50vh;
    align-content: flex-start;
  }
  
  .day,.hour,.minute,.second {
    
    font-family: "Kuro-Regular";
    font-size: 2rem;
    font-weight: lighter;
    align-content: flex-start;
  }
  